<!DOCTYPE html>
<html>
<head>
    <title>Macho Stock Market</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
</head>
<body>

    <div class="hero">
        <h1 id="logo">MACHO STOCK MARKET</h1>
        <p class="subtitle">The strongest stock market on the internet.</p>
    </div>

    <nav>
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/portfolio">Buy Stocks</a>
        <a class="nav" href="/admin">Admin Panel</a>
    </nav>

    <div class="container">
        <div class="card">
            <h2>Stocks</h2>

            <div id="stock-list"></div>
        </div>
    </div>

    <script src="/static/js/index.js"></script>

</body>
</html>
